<%- include('./partials/header') %>

<h2>You shouldn't be here</h2>
In case you are here - some how - here's a link to the main store page
<a href="/games">INFINITE PLAY</a>

<%- include('./partials/footer') %>