body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: bisque;
  font-size: 15px;
}

a {
  color: #00B7FF;
  background: linear-gradient(90deg, red, orange, yellow, green, blue, purple);
  background-clip: text;
  -webkit-background-clip: text;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}

.delete-form button {
  color: red;
}

li {
  list-style: none;
}

button {
  margin-top: 20px;
}

a:hover {
  text-decoration: none;
  color: transparent;
  transition: 500ms ease;
}

p {
  max-width: 400px;
}