</main>
<footer>Guess you can consider this an easter egg of sorts? Who else would be looking here unless they were checking over the work, right? Hahaha! The reason for this long text in the footer is to allow the user to not need to strain their eyes by looking at the bottom of the screen.
</footer>
</body>

</html>