<%- include('../partials/header') %>


    <form action="/skills/<%= skill.id %>?_method=PUT" method="POST" autocomplete="off">
      <input type="text" name="skill" placeholder="<%= skill.skill %>">
      <button type="submit">Save Edit</button>
    </form>

<%- include('../partials/footer') %>

