<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <title>Developer Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <h1>Dev Skills</h1>
    <div class = "flex-container">
      <% skills.forEach(function(s) { %>
        <div class = "links">
          <a href="/skills/<%= s.id %>">
            <%= s.name %>
            <img src="<%= s.imgUrl %>" alt="<%= s.name %>">
          </a>
        </div>
        <%})%>
    </div>
  </body>
</html>
