/* General Styles */

a {
  text-decoration: none;
  color: #ffffff;
}

.a:focus {
  outline: 0px none;
}

a:hover {
  text-decoration: none;
  color: #f4c266
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #c6d4df;
  font-size: 12px;
  background-color: #100d29;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body>div#global-header {
  height: 75px;
  width: 75%;
  border-bottom-color: 1px solid #171a21;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
}
.logo-or-avatar {
  
}

.user-avatar {
  height: 50px;
  display: flex;
  flex-direction: row;
}

.user-details {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: column;
}

.user-details ul {
  list-style: none;
}

.header-nav-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.header-nav-container ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-nav-container ul li a {
  padding: 10px 15px;
  transition: background-color 0.3s, border-color 0.3s;
}

.flex {
  display: flex;
  flex-direction: row;
}