<%- include("../partials/header") %>

    <h2>Enter Booking Details</h2>
    <form action="/flights" method="POST">
        <label>Airline:
            <select name="airline">
                <option value="American">American</option>
                <option value="Southwest">Southwest</option>
                <option value="United">United</option>
            </select>
        </label><br />
        <label>Airport:
            <select name="airport">
                <option value="AUS">AUS</option>
                <option value="DFW">DFW</option>
                <option value="DEN">DEN</option>
                <option value="LAX">LAX</option>
                <option value="SAN">SAN</option>
            </select>
        </label><br />
        <label>Flight №:
            <input type="number" name="flightNo">
        </label><br />
        <label>Departure Date:
            <input type="datetime-local" name="departs" value="<%= departsDate %> min="2024-03-01" max="2025-12-31">
        </label><br />
        <button type="submit">Book Flight</button>
    </form>
    <p>
        <%= errorMsg %>
    </p>

    <%- include("../partials/footer") %>

    